.footerStyle {
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    text-align: justify;
    color: aliceblue;
    padding: 20px;
}

.socialMedia {
    display: grid;
    grid-template-rows: 20% 80%;
}

.socialMedia p{
    width: 100%;
    margin-bottom: 10px;
    text-decoration: underline double red;
    text-align: center;
    justify-self: end;
    align-self: flex-end;
}

.iconsMedia {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}

.imgFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconRed {
    color: red;
}

.imgFooter img{
    width: 40%;
}

.acercaDeNosotros {
    display: flex;
    flex-wrap: wrap;
}

.acercaDeNosotros div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

