.forSerchBar {
    display: flex; 
    justify-content: flex-end;
    gap: 10px
}

.inputSearchBar {
    padding: 10px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px
}

.buttonSearchBar {
    padding: 10px 20px;
    background: black;
    color: white;
    border-radius: 5px
}

@media (min-width: 970px) and (max-width: 1250px) { 

}

@media (min-width: 750px) and (max-width: 970px) { 

}

@media (width <=749px) { 
.inputSearchBar{
    width: 250px;
}
}
