.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  .title {
    margin-bottom: 5px;
  }
  
  .count {
    color: #666;
    margin-bottom: 25px;
  }
  
  .noResults {
    margin-top: 20px;
    color: #999;
  }
  
  .resultCard {
    margin: 5px;
   color: #666;
  }

  .tituloTermino,
  .tituloArticulo {
    color: black;
  }

.botonAtras {
    width: 100%;
    display: flex;
    justify-content: end;
    text-decoration: underline double red;
    font-size: large;
}

  @media (max-width: 768px) {

  }

  @media (max-width: 480px) { 
  .title {
    font-size: x-large;
  }
  }
