.terminosPage {
    padding: 3%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.terminosPage h2 {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.terminosPage hr {
    height: 3px;
    background-color: red;
    width: 80%;
    margin-bottom: 10px;
}

.terminosBanner {
    width: 1200px;
    height: 350px;
    margin-bottom: 20px;
}

.seccionArt {
    width: 100%;
    padding: 0px 70px 0px 70px;
}

.seccionArt p{
    text-align: justify;
}

.botonAtras {
    width: 100%;
    text-align: end;
    text-decoration: underline red;
    text-underline-offset: 10px;
}

.cardStyle a:hover{
    text-shadow: 5px 5px 8px yellow;
}

@media (min-width: 970px) and (max-width: 1250px) {

}

@media (min-width: 750px) and (max-width: 970px) { 


}

@media (width <=749px) { 
.terminosBanner {
    width: 450px;
    height: auto;
}

.terminosBanner img {
    width: 100%;
}

.terminosPage h2 {
    font-size: 25px;
}

.seccionArt {
    padding: 0px 10px 0px 10px;
}
}