*{margin:0;padding:0;
    box-sizing:border-box;}
    
body{font-family:Arial,sans-serif;
    background:#f7f7f7;
    color:#222;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
    
header,footer{
    background:#1a1a1a;
    color:white;
    width: 100%;
}
    
a{  text-decoration:none;
    color:inherit}
    
.container{
    max-width:1100px;
    margin:auto;
    padding:1rem;}