.bannerHome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    text-align: center;
    background: url("https://res.cloudinary.com/dujrua0vo/image/upload/v1771122689/BanneHomePage_rjginh.png");
    color: aliceblue;
}

.h1Div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.589);
    font-family: math;
    font-size: larger;
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.bannerInf {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 90px 20px 90px;
    text-align: center;
    color: black;
}

.bannerInf h3 {
    font-weight: 300;
}

.bannerInf hr {
    height: 3px;
    background-color: red;
    width: 95%;
    margin-bottom: 10px;
}

@media (min-width: 970px) and (max-width: 1250px) {

}
    
@media (min-width: 750px) and (max-width: 970px) { 
.bannerHome {
    background: url("https://res.cloudinary.com/dujrua0vo/image/upload/v1771123140/Disen%CC%83o_sin_ti%CC%81tulo_11_ca4cn0.png");
}
}
    
@media (width <=749px) {

.bannerHome {
 background: url("https://res.cloudinary.com/dujrua0vo/image/upload/v1771124898/Disen%CC%83o_sin_ti%CC%81tulo_12_s8cino.png");
 background-size: 100%;
}

.bannerInf {
    padding: 0%;
}
}