.headerStyle{
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: math;
    font-weight: lighter;
    padding: 15px
}

.headerStyle h1 {
    font-weight: lighter;
}

@media (min-width: 970px) and (max-width: 1250px) {
.headerStyle h1 {
font-size: x-large;
}

}

@media (min-width: 750px) and (max-width: 970px) { 
.headerStyle h1 {
    font-size: x-large;
}

}

@media (width <=749px) {
.headerStyle {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.headerStyle h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: x-large;
}
}