.aboutUs {
    padding: 5%;
    text-align: justify;
}

.aboutUs h2 {
    margin: 15px 0px 15px 0px;
    color: brown;
}

.aboutUs p{
    margin-bottom: 10px;
}

.lista{
    padding-left: 50px;
}

.mision {
    border: 2px dotted red;
    padding: 2%;
    margin: 5%;
}

.botonAtras {
    width: 100%;
    display: flex;
    justify-content: end;
    text-decoration: underline double red;
    font-size: large;
}

@media (width <=749px) {
.aboutUs h2{
    font-size: larger;
}
}